extends layout

block append headStylesheets
  link(rel='stylesheet' href='/stylesheets/search.css')

block append headJavascripts
  script(src='/javascripts/search.js')

block main-content
  div.search-results-header
    h3  Search Results
    input.search-dashboard-search-bar(type='text')
  ul.search-results
    each propertyRecord in reformattedSearch
      li.search-result
        dl.property-details
          div.owner-names
            small Owner Names
            p= propertyRecord['firstOwner']
            p= propertyRecord['secondOwner']
          div.property-information
            ul
              li Bedrooms: #{propertyRecord['bedrooms']}
              li Bathrooms: #{propertyRecord['bathrooms']}
              li Square Feet: #{propertyRecord['buildingSquareFeet']}
              li Former Sale Date: #{propertyRecord['formerSaleDate']}
              li Former Sale Price: #{propertyRecord['formerSalePrice']}
        div.site-address-fps-link
          div.property-address
            small Property Address
            h3= propertyRecord['siteAddress']
          div.property-links
            a(href=propertyRecord['siteAddressFpsLink'] target='_blank') Contact Information
        div.mail-address-fps-link
          if propertyRecord['ownerOccupied'] === 'N'
            div.property-address
              small Mailing Address
              h3= propertyRecord['mailAddress']
            p The property is absentee-owned.  The owner likely lives at this address!
            div.property-links
              a(href=propertyRecord['mailAddressFpsLink'] target='_blank') Contact Information