extends layout

block append headStylesheets
  link(rel='stylesheet' href='/stylesheets/sign-up.css')
block append headJavascripts
  script(src='/javascripts/sign-up.js')
block header-content
  img(src='/images/icons/farm-friend-icon.png')
block main-content
  if errorMessages
    ul
    each errorMessage in errorMessages
      li= errorMessage
    
  h3 Sign Up
  form(method='POST' action='/sign-up')
    fieldset.form-floating
      input.form-control(type='text' name='firstName' placeholder='First Name' value=firstName required)
      label(for='firstName') First Name
    fieldset.form-floating
      input.form-control(type='text' name='lastName' placeholder='Last Name' value=lastName required)
      label(for='lastName') Last Name
    fieldset.form-floating
      input.form-control(type='email' name='email' placeholder='Email Address' value=email required)
      label(for='email') Email Address
    fieldset.form-floating
      input.form-control(type='password' name='password' placeholder='Password' value=password required)
      label(for='password') Password
    button.submit.btn.btn-primary Sign-Up
  p Already have an account? 
    a(href='sign-in') Sign In
